@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100% /* fundo do app ocupa a tela toda */
}

body {
  background: black url('./assests/background.jpg') no-repeat;
  background-size: cover; /* img ocupa td tamamho da tela */
  -webkit-font-smoothing: antialiased !important; /* deixar fonte mais detalhada */
}

body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif; 
}

